{% load i18n %}
<div bloomerp-component="filter-container" data-content-type-id="{{ workspace.id }}" data-filter-scope="workspace"
    id="workspace-filter-container-{{ workspace.id }}">
    <div class="flex items-center mb-2 gap-2">
        <div id="field-selector-section" class="w-1/3">
            <select class="select w-full">
                <option value="">
                    {% blocktrans %}Select field{% endblocktrans %}
                </option>
                {% for _, field in filter_fields.items %}
                <option value="{{ field.field }}">
                    {{ field.label }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div id="lookup-operator-section" class="w-1/3"></div>
        <div id="value-input-section" class="w-1/3"></div>
    </div>
</div>

