
<div
    class="table-responsive"
>
    <table
        class="table "
    >
        <thead>
            <tr>
                {% for header in headers %}
                    <th scope="col">{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for tr in list %}
                <tr class="">
                    {% for td in tr %}
                        <td scope="row">{{td}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
