{% load crispy_forms_tags %}

<form 
    method="post" 
    action="{{ url }}" 
    hx-post="{{ url }}" 
    hx-target="this" 
    hx-swap="outerHTML"
    class="p-3"
    {% for arg,value in form_args.items %}
    {{ arg }}="{{ value }}"
    {% endfor %}
    >
    {% if text %}
    <p class="mb-4 text-sm text-gray-600">{{ text | safe }}</p>
    {% endif %}

    {% csrf_token %}
    {% if form %}
    {{ form | crispy }}
    {% endif %}
    {% if hidden_args %}
    {% for key, value in hidden_args.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}
    {% endif %}

    

    <div class="mt-4 flex justify-start gap-2">
        <button 
            type="submit" 
            class="btn btn-primary"
            {% if button_attrs %}
            {% for attr,value in button_attrs.items%}
            {{ attr }}="{{ value }}"
            {% endfor %}
            {% endif %}
            >
            <c-i18n.blocktrans>
                {{ submit_label|default:"Submit" }}
            </c-i18n.blocktrans>
        </button>
    </div>

</form>
