venv
manage.py
test_environment
db.sqlite3
test_app
bloomerp/migrations
.vscode
others
query.sql
*.pyo
*.pdf
*.pyc
media
bloomerp.io
project_structure.py
*eggs-info
__pycache__
*.pyd
.DS_Store
dist
build
notebooks