{% load i18n %}
<div class="advanced-field-select-row" data-advanced-level="{{ level }}">
    <select
        class="select w-full"
        data-advanced-related-select="true"
        data-level="{{ level }}"
        data-path-prefix="{{ path_prefix }}"
    >
        <option value="">
            {% blocktrans %}Select related field{% endblocktrans %}
        </option>
        {% for field in application_fields %}
            <option
                value="{{ field.id }}"
                data-field-name="{{ field.field }}"
                data-field-type="{{ field.field_type }}"
                {% if field.filter_related_content_type_id and field.field_type in expandable_field_types %}
                    data-related-content-type-id="{{ field.filter_related_content_type_id }}"
                {% endif %}
            >
                {{ field.title }}
            </option>
        {% endfor %}
    </select>
</div>
