<div class="w-full sm:w-auto" data-data-view-button="{{ action.id }}">
    <c-ui.shortcut_tooltip position="bottom" action="click" shortcut="{{ action.shortcut }}">
        <button
            class="btn btn-sm btn-secondary w-full justify-center sm:w-auto"
            data-dataview-add-button="true"
            data-dataview-create-button="true"
            data-modal-id="create-object-modal"
            data-create-url="{% url 'components_create_object' content_type_id=content_type_id %}{% if create_querystring %}?{{ create_querystring }}{% endif %}"
            data-target="#create-object-modal-body"
        >
            <i class="fa fa-plus"></i>
            <span>Add</span>
        </button>
    </c-ui.shortcut_tooltip>
</div>
