{% load i18n %}
{% if layout_non_field_errors %}
    <div class="space-y-2 mb-4">
        {% for error in layout_non_field_errors %}
            <div class="alert alert-danger mb-4 rounded px-4 py-3" role="alert">
                <div>{{ error }}</div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<c-features.layout.container
    :component_name="ts_container_component"
    :init_edit="True"
    :layout="layout"
    :layout_object_id="layout_object_id"
    :can_change="can_change"
    :change_context="change_context"
    :extra_attrs="layout_container_extra_attrs"
>
    <c-slot name="buttons_left">
        <button
            class="btn btn-secondary btn-sm"
            type="button"
            bloomerp-open-modal="initial-data-modal"
            hx-get="{% url 'components_forms_initial_data' id=object.id %}"        
            hx-target="#initial-data-modal-body"
            hx-trigger="click"
        >
            <i class="fa fa-table"></i>
            {% blocktrans %}Initial data{% endblocktrans %}
        </button>
    </c-slot>
</c-features.layout.container>

<c-ui.modal id="initial-data-modal" title="Initial data" size="lg">
    <div class="text-sm text-gray-500">
        {% blocktrans %}Loading...{% endblocktrans %}
    </div>
</c-ui.modal>
