{% if layout_non_field_errors %}
    {% for error in layout_non_field_errors %}
        <div class="alert-message-error mb-4 rounded px-4 py-3" role="alert">
            <div class="alert-message">{{ error }}</div>
        </div>
    {% endfor %}
{% endif %}

<c-features.sectioned_layouts.container
    component_name="object-crud-view-container"
    :init_edit="True"
    :layout="layout"
    :layout_object_id="layout_object_id"
    :layout_object_content_type_id="layout_object_content_type_id"
    :extra_attrs="layout_container_extra_attrs"
    :force_edit="True"
>
    <c-slot name="buttons_left">
        <button
            class="btn btn-secondary btn-sm"
            type="button"
            bloomerp-open-modal="initial-data-modal"
            hx-get="{% url 'components_forms_initial_data' id=object.id %}"        
            hx-target="#initial-data-modal-body"
            hx-trigger="click"
        >
            <i class="fa fa-table"></i>
            <c-i18n.blocktrans>Initial data</c-i18n.blocktrans>
        </button>
    </c-slot>

    {% include "inclusion_tags/sectioned_layout_rows.html" %}
</c-features.sectioned_layouts.container>

<c-ui.modal id="initial-data-modal" title="Initial data" size="lg">
    <div class="text-sm text-gray-500">
        <c-i18n.blocktrans>Loading...</c-i18n.blocktrans>
    </div>
</c-ui.modal>
