{% extends "views/base.html" %}

{% load static %}

{% block body %}
<div class="mx-auto max-w-6xl p-4">
    <div class="space-y-4">
        <c-ui.text.title>{{ object.name }}</c-ui.text.title>
        <c-ui.text.text>{{ object.description|safe|default:"" }}</c-ui.text.text>
    
        {% if layout_non_field_errors %}
            <div class="space-y-2 mb-4">
                {% for error in layout_non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <div>{{ error }}</div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if form_submitted_successfully %}

            <c-ui.text.text>{{ form_submission_message }}</c-ui.text.text>
            <a href="{{ request.path }}" class="btn btn-sm btn-primary">
                <c-i18n.blocktrans>Submit a new form</c-i18n.blocktrans>
            </a>

        {% elif form_submission_error_message %}
            <div class="alert alert-danger" role="alert">
                <div>{{ form_submission_error_message }}</div>
            </div>
        {% else %}
            <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
                {% csrf_token %}
                <c-features.layout.container
                    :component_name="ts_container_component"
                    :layout="layout"
                    :layout_object_id="layout_object_id"
                    :can_change="can_change"
                    :change_context="change_context"
                    :extra_attrs="layout_container_extra_attrs"
                >
                    <c-slot name="buttons_left">
                        <div data-toggle-non-required-fields-container>
                            <c-ui.shortcut_tooltip shortcut="mod+." position="bottom">
                                <button type="button" class="btn btn-sm btn-secondary" data-toggle-non-required-fields
                                    aria-pressed="false">
                                    <i class="fa fa-asterisk"></i>
                                    <span data-toggle-non-required-fields-label>
                                        <c-i18n.blocktrans>
                                            Show Required Only
                                        </c-i18n.blocktrans>
                                    </span>
                                </button>
                            </c-ui.shortcut_tooltip>
                        </div>
                    </c-slot>

                    <c-slot name="buttons_right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Submit
                        </button>
                    </c-slot>
                </c-features.layout.container>
            </form>
        {% endif %}
    </div>
</div>

<c-ui.modal id="bloomerp-general-use-modal" />

{% include 'snippets/vite_bundle.html' %}

{% endblock %}
