{% load i18n %}
<div 
    bloomerp-component="workflow" class="w-full"
    data-workflow-id="{{ workflow_id }}"
    data-workflow-json='{{ workflow_json|default:"" }}'
    >
    <!-- Toolbar -->
    <div class="flex justify-between w-full mb-2">
        <div class="flex gap-2">
            <button class="btn btn-primary btn-sm" id="add-node-btn" type="button">
                {% blocktrans %}Add Node{% endblocktrans %}
            </button>
            <button id="zoom-in-btn" class="btn btn-secondary btn-sm">
                <i class="fa-solid fa-magnifying-glass-plus"></i>
            </button>
            <button id="zoom-out-btn" class="btn btn-secondary btn-sm">
                <i class="fa-solid fa-magnifying-glass-minus"></i>
            </button>
            <button id="focus-first-node-btn" class="btn btn-secondary btn-sm" type="button">
                <i class="fa-solid fa-crosshairs"></i>
                {% blocktrans %}Recenter{% endblocktrans %}
            </button>
            
        </div>
    </div>

    <!-- DrawFlow Canvas -->
    <div id="drawflow" class="border border-1 border-gray-200 mt-3 rounded-xl" style="height: calc(75vh);"></div>

    <div class="hidden" aria-hidden="true" data-workflow-node-definition-registry>
        {% for node_type in node_types %}
            {% for sub_type in node_type.nodes %}
            <div
                data-node-subtype-id="{{ sub_type.id }}"
                data-node-subtype-name="{{ sub_type.name }}"
                data-node-subtype-description="{{ sub_type.description }}"
                data-node-subtype-icon="{{ sub_type.icon }}"
                data-node-type-id="{{ node_type.id }}"
                data-node-type-name="{{ node_type.name }}"
                data-node-output-ports="{{ sub_type.default_output_ports_json }}"
            ></div>
            {% endfor %}
        {% endfor %}
    </div>

    <c-ui.drawer id="node-drawer">
        <div data-workflow-drawer-content></div>
    </c-ui.drawer>

    <c-ui.modal title="Update node" id="update-node-modal" />
</div>
