<div class="border-b border-gray-200 p-3">
    <c-ui.text.label class="">
        Content
    </c-ui.text.label>
    <div
        hx-post="{% url 'preview_workspace_tile' %}?include_builder_section=false"
        hx-vals='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
        hx-vars='js:{
            operation: "update_markdown",
            data: JSON.stringify({
                markdown: this.querySelector("[data-text-editor-input=true]").value
            })
        }'
        hx-target="#tile-preview-section"
        hx-trigger="bloomerp:widget-change delay:250ms"
    >
        <c-ui.inputs.text_editor
            name="text-tile-markdown"
            value="{{ config.markdown }}"
            placeholder="Add content here..."
        />
    </div>
</div>
