{% load i18n %}
<select
    class="select w-full"
    bloomerp-component="focus-on-form"
    {% if field_path %}
        data-field="{{ field_path }}"
        data-advanced-operator-select="true"
        data-application-field-id="{{ base_application_field_id|default:application_field.id }}"
        data-lookup-application-field-id="{{ application_field.id }}"
    {% endif %}
>
    <option disabled selected value="">
        {% blocktrans %}Select operator{% endblocktrans %}
    </option>
    {% for lookup in lookups %}
        <option value="{{ lookup.value.id }}" data-lookup-django="{{ lookup.value.django_representation }}">
            {{ lookup.value.display_name }}
        </option>
    {% endfor %}
</select>
