{% load i18n %}
{% if workspace %}
    <c-features.workspaces.container 
        :workspace="workspace" 
    />
{% else %}
    <c-ui.center_page_element
        icon="fa-solid fa-tachograph-digital"
        title="No workspaces yet">
        <c-slot name="text">
            {% blocktrans %}Workspaces help you organize this module around the way you work. You can create your own space for the information, tiles, and shortcuts you want to see first, and switch between different workspaces when you need a different focus.{% endblocktrans %}
        </c-slot>
        <div class="flex justify-center gap-4">
            {% if module_id %}
                <form
                    method="post"
                    hx-post="."
                    hx-target="#main-content"
                    hx-push-url="false"
                >
                    {% csrf_token %}
                    <button
                        class="btn btn-primary"
                        type="submit"
                        name="action"
                        value="create_default"
                    >
                        {% blocktrans %}Create default{% endblocktrans %}
                    </button>
                </form>
            {% endif %}
            <button
                class="btn btn-secondary"
                hx-get="{{ create_url }}"
                hx-target="#main-content"
                hx-push-url="true"
            >
                {% blocktrans %}Start from scratch{% endblocktrans %}
            </button>
        </div>
    </c-ui.center_page_element>
{% endif %}

