{% extends "user_views/snippets/user_content_type_selection_snippet.html" %}
{% load bloomerp_ui %}
{% load crispy_forms_field %}

{% block selection_content %}

{% if selected_content_type %}
<div class="d-flex justify-content-between align-items-center my-4">
	<div>
		<input type="text" class="form-control" placeholder="Search" id="search" oninput="searchTable(this)">
	</div>

	<div>
		<button class="btn border" onclick="selectAll()">
			Select/deselect all
		</button>
	</div>
</div>


<div>	
	<form
		method="post"
		action="{% url 'users_my_profile_detail_view_preference' %}{% if return_to %}?return_to={{return_to}}{% endif %}"
		>
		{% csrf_token %}

		<input
			type="hidden"
			name="content_type_id"
			value="{{ selected_content_type.id }}"
			>
	
	<!--Errors-->
	{% if formset.errors %}
		<div class="alert alert-danger">
			<ul>
				{% for error in formset.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<!--End errors-->

	{{ formset.management_form }}
	<div
		class="table-responsive"
	>
		<table
			class="table"
			id="searchable_table"
		>
			<thead>
				<tr>
					<th scope="col">Field</th>
					<th scope="col">Position</th>
					<th scope="col">Selected</th>
				</tr>
			</thead>
			<tbody>
				{% for form in formset %}
				<tr class="" class="d-flex justify-content-center">
					<td class="d-none">
						<input type="text" name="form-{{forloop.counter0}}-application_field" value="{{ form.application_field.value }}">
						<input type="text" name="form-{{forloop.counter0}}-user" value="{{ request.user.pk }}">
						{% if form.id.value %}
							<input type="text" name="form-{{forloop.counter0}}-id" value="{{ form.id.value }}">
						{% endif %}
					</td>

					<td scope="row" class="searchable">
						{{ form.application_field_str }} {{ form.index}}
					</td>
					<td>{% crispy_field form.position 'class' 'form-control form-control-sm' %}</td>
					<td>{{ form.selected }}</td>
				</tr>
				
				{% endfor %}

			</tbody>
		</table>
	</div>

	<button
		type="submit"
		class="btn btn-primary"
	>
		Save
	</button>
	</form>
</div>

<script>
	function searchTable(input) {
	  const value = input.value.toLowerCase();
	  const rows = document.querySelectorAll("#searchable_table tbody tr");
  
	  rows.forEach(row => {
		const searchableCells = row.querySelectorAll(".searchable");
		const match = Array.from(searchableCells).some(cell =>
		  cell.innerText.toLowerCase().includes(value)
		);
  
		if (match) {
		  row.classList.remove("d-none");
		} else {
		  row.classList.add("d-none");
		}
	  });
	}

	function selectAll() {
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');
		const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
		checkboxes.forEach(checkbox => {
			checkbox.checked = !allChecked;
		});
	}

</script>


{% endif %}

{% endblock selection_content %}


