{% extends "user_views/snippets/user_content_type_selection_snippet.html" %}
{% load crispy_forms_tags %} 

{% block selection_content %}

{% if selected_content_type %}
<div class="d-flex justify-content-between align-items-center my-4">
    <div>
	    <input type="text" class="form-control" placeholder="Search" id="search" oninput="searchInputs(this)">
    </div>

    <div>
		<button class="btn border" onclick="selectAll()">
			Select/deselect all
		</button>
	</div>
</div>



<form method="POST" action="" class="mt-4">
	{% csrf_token %}

	<div id="list_view_preference_inputs">
		{{ form | crispy }}
	</div>
	<button type="submit" class="btn btn-primary">Save Preferences</button>
</form>

<script>
	function searchInputs(input) {
		// Get the search text in uppercase for case-insensitive comparison
		var filter = input.value.toUpperCase();
	
		// Get the container holding the inputs
		var data = document.getElementById("list_view_preference_inputs");
	
		// Select all the .form-check elements inside the container
		var formChecks = data.querySelectorAll('.form-check');
	
		// Iterate over each .form-check element
		for (var i = 0; i < formChecks.length; i++) {
			// Get the <label> element within the current .form-check
			var label = formChecks[i].querySelector("label");
	
			// Check if a label exists and get its text content
			if (label) {
				var txtValue = label.textContent || label.innerText;
	
				// Show or hide the .form-check based on the search text
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					formChecks[i].style.display = ""; // Show
				} else {
					formChecks[i].style.display = "none"; // Hide
				}
			}
		}
	}
	

  function selectAll() {
	const checkboxes = document.querySelectorAll('input[type="checkbox"]');
	const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
	checkboxes.forEach(checkbox => {
		checkbox.checked = !allChecked;
	});
}
</script>

{% endif %}

{% endblock selection_content %}

